<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your Test</title>
    <script src="../static/js/genNumberQues.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Add your Test Question</h1>
    <form method="post">
        <label for="numberOfQuestions">Enter the number of questions you want to input</label>
        <input onchange="generateQuestions()" name="numberOfQuestions" type="number" id="numberOfQuestions" min="1" value="1">
<!--        <button onclick="generateQuestions()">Genereta Input Fields</button>-->

        <div id="questionContainer"></div>
        <button type="submit">Submit questions</button>
    </form>
</body>
</html>